body {


  margin: 0px;
  padding: 0px;


}

.image {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(./blur-1972569.jpg);
  background-size: cover;

  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}




.img {

  width: 60px;
  text-align: center;


}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding-block: 1rm;
  padding-top: 2px;
  position: fixed;
  top: 0px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);


}

.navbar li {
  display: inline-block;
  margin: 5px;
  margin-top: -30px;
}

.navbar li a {
  color: black;
  text-decoration: none;

}

.navbar li :hover {
  color: gray;
}

.navbar ul {
  display: inline-block;
  margin: auto;
  justify-content: center;
  height: 20px;
  padding: 20px 20px;
  font-size: 120%;
}

.caption {


  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 140%;
  color: red;
  padding-left: 13px;
}




.footer {
  display: flex;
  background-color: black;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding-block: 1rm;

  padding-top: 40px;
  padding-bottom: 40px;

}

.button {
  font-size: 120%;
  display: inline-block;
  border-radius: 15px;
  text-decoration: none;
  color: black;
  background-color: red;
  right: 50px;
  padding: 5px;

  margin-right: 10px;
  margin-top: -5px;
}

.button:hover {
  background-color: gray;
  color: white;

}



footer h3 {
  color: red;

  list-style: none;

}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: gray;
}

.footer-bottom {
  color: white;

}


.form1 {
  justify-content: space-around;
  align-items: center;
  display: flex;
  background-color: transparent;
  border: 1px solid gray;
  color:red;
  width: 20rem;
  border-radius: 20px;
  flex-direction: column;
  padding: 10px;
  backdrop-filter: blur(15px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  margin-block: 15rem;
  margin-left: 35rem;
}

.form1 select{
 background-color: red;
 color: black;
 border-radius: 5px;
}
.div{
  border-bottom: 2px solid black;
  position: relative;

}

.form1 label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  pointer-events: none;
 
}

.form1 input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: white;
} 



button{
width: 100%;
height: 35px;
border: none;
outline: none;
border-radius: 6px;
cursor: pointer;
background-color: black;
justify-content: center;
align-items: center;
color: white;
}

button:hover{
  background-color: gray;
}


.form h2 {
  color: red;
}

.fa-brands {
  color: white;
  padding: 10px;
}

.fa-brands:hover {
  color: gray;
}

.company{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-top: 60px;
}

.gym{
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
}

.member{
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
}

.span1{
  display: flex;


}

.male{
  margin-left: 1px;
}
 
.female{
  

 margin-left: -3px;
}




